@{
    ViewData["Title"] = "Votação confirmada";
}
<div class="text-center">
    <h3 class="text-success">Seu voto foi confirmado.</h3>
    <p>Clique <a asp-controller="home" asp-action="index">aqui</a> para voltar.</p>
</div>