@model GL.ReiDoAlmoco.Site.Models.Pretendente.PretendenteModel
@{
    ViewData["Title"] = @Model.Nome;
}
<div class="col-4 mx-auto">
    <h3>@ViewData["Title"]</h3>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <div class="form-group">
            <label class="text-bold" for="nome">Nome:</label>
            <label id="nome">@Model.Nome</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <div class="form-group">
            <label for="email">E-mail:</label>
            <label id="email">@Model.Email</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <div class="form-group">
            <a asp-action="index" asp-controller="pretendentes" class="btn btn-secondary col-12">Voltar</a>
        </div>
    </div>
</div>
