@model GL.ReiDoAlmoco.Site.Models.Avatar.AlterarAvatarModel
@{
    ViewData["Title"] = $"Alterar avatar {Model.NomeDoPretendente}";
}
<form  asp-controller="avatar" asp-action="adicionar" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.IdDoPretendente" />
    <div class="container">
        <div class="text-center">
            <div asp-validation-summary="All" class="text-danger"><span></span></div>
            <h3>@ViewData["Title"]</h3>
        </div>
        <br />
        <div class="row">
            <div class="col-4 mx-auto">
               <div>
                    <img class="img-fluid" height="200" width="300"
                         id="imgAvatar"
                         src="/avatar/imagem/@Model.IdDoPretendente"/>
                    <p class="py-3">
                        <label class="btn btn-outline-dark">
                            Alterar Avatar
                            <input id="Arquivo" name="arquivo" type="file" class="d-none" accept="image/x-jpeg" />
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    <button type="submit" value="Upload" class="btn btn-success col-12"> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        $(function () {
            $('#Arquivo').change(function () {
                console.log("chegou aqui!");
                var input = this;
                var url = $(this).val();
                var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
                if (input.files && input.files[0] && (ext == "jpeg")) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imgAvatar').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    $('#imgAvatar').attr('src', '~/images/capas/capa-vazia.png');
                }
            });
        });
    </script>
}